@model List<WebApplication4.Models.User>

<h2>Foydalanuvchilar ro'yxati</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>
                    <a href="@Url.Action("Edit", "User", new { id = user.Id })">Edit</a> |
                    <a href="@Url.Action("Delete", "User", new { id = user.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Create", "User")">Foydalanuvchi qo'shish</a>
